<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955173010444-07p45a23itlnvnoubo1jtlnplckidv2f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955173010444-07p45a23itlnvnoubo1jtlnplckidv2f</string>
	<key>API_KEY</key>
	<string>AIzaSyCW3lyFaPV6AJt9BI29_NQEpx6hNWe2_Z4</string>
	<key>GCM_SENDER_ID</key>
	<string>955173010444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ignitedev.pharmaclock</string>
	<key>PROJECT_ID</key>
	<string>pharmaclock-2eef3</string>
	<key>STORAGE_BUCKET</key>
	<string>pharmaclock-2eef3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955173010444:ios:26cb663b9fd66faa</string>
	<key>DATABASE_URL</key>
	<string>https://pharmaclock-2eef3.firebaseio.com</string>
</dict>
</plist>